/httpd/php-laravel-condominium/vendor/
/httpd/php-laravel-condominium/node_modules/
/httpd/php-laravel-condominium/npm-debug.log
/httpd/php-laravel-condominium/yarn-error.log
/httpd/php-laravel-condominium/storage/*.key
/httpd/php-laravel-condominium/.env
/httpd/php-laravel-condominium/.phpunit.result.cache
/postgresql/
/pgadmin/
/backups/
.env
